body {
  background-color: #0d5d6c;
}

.App {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 450px 450px 50px;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin: 25px;
}

.searchBox {
  grid-column: 1;
  grid-row: 1;
}

.searchInput {
  margin: 10px;
  border-radius: 5px;
}

.gifBox {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: center;
}
